# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
*.env

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Package files
*.egg
*.egg-info/
dist/
build/
*.pyc

# Cache files
*.cache
*.pyo

# Coverage reports
htmlcov/
.coverage
*.cover

# Database and local dev files
*.sqlite3
*.db
**/.env

